<footer class="container-fluid bgnav ">
    <div class="row ">
        <section class="col">
        </section>
        <section class="col">
            <h5>Notre société</h3>
            <p class="text-light">28 rue mexico, 5900 Lille</p>
            <p class="text-light">candyshop.fr</p>
            <p class="text-light">0749235351</p>
            <p class="text-light">m.delecroix@hotmail.fr</p>
        </section>
        <section class="col">
            <h5>Informations</h5>
            <div>
                <a href="" class="text-light">Mentions légales</a>
            </div>
            <div>
                <a href="" class="text-light">Qui sommes-nous</a>
            </div>
            <div>
                <a href="" class="text-light">Questions fréquentes</a>
            </div>
        </section>
    </div>
</footer>